[access]
        inheritFrom = Maintained-Projects
[project]
[access "refs/*"]
	owner = group serveradminmaintainer
[access "refs/heads/comp-vm-2014"]
	read = group Registered Users
	read = group mentors
	abandon = group mentors
	forgeAuthor = group mentors
	forgeCommitter = group mentors
	push = group mentors
	pushMerge = group mentors
	label-Code-Review = -2..+2 group mentors
	label-Verified = -1..+1 group mentors
	rebase = group mentors
	submit = group mentors
