[access]
        inheritFrom = Maintained-Projects
[project]
[access "refs/*"]
	owner = group serveradminmaintainer
[access "refs/heads/comp-vm-2014"]
	read = group Registered Users
	read = group ldap/mentors
	abandon = group ldap/mentors
	forgeAuthor = group ldap/mentors
	forgeCommitter = group ldap/mentors
	push = group ldap/mentors
	pushMerge = group ldap/mentors
	label-Code-Review = -2..+2 group ldap/mentors
	label-Verified = -1..+1 group ldap/mentors
	rebase = group ldap/mentors
	submit = group ldap/mentors
[access "refs/heads/fedora-20"]
	read = group Registered Users
	read = group ldap/mentors
	abandon = group ldap/mentors
	forgeAuthor = group ldap/mentors
	forgeCommitter = group ldap/mentors
	push = group ldap/mentors
	pushMerge = group ldap/mentors
	label-Code-Review = -2..+2 group ldap/mentors
	label-Verified = -1..+1 group ldap/mentors
	rebase = group ldap/mentors
	submit = group ldap/mentors
