[Unit]
Description=Send emails to LDAP groups after review via Gerrit

[Service]
User=fritter
Group=users
ExecStart=/home/fritter/fritter/fritter-service
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
