[Unit]
Description=Pipe from a fifo to #srobo

[Service]
User=pipebot
Group=users
ExecStart=/home/pipebot/pipebot/pipebot
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
